:root {
  --pink-1: #f72585;
  --purple-fandango-2: #b5179e;
  --purple-grape-3: #7209b7;
  --blue-chrysler-4: #560bad;
  --blue-dark-5: #480ca8;
  --blue-zaffre-6: #3a0ca3;
  --blue-palatinate-7: #3f37c9;
  --blue-neon-8: #4361ee;
  --blue--chefchaouen-9: #4895ef;
  --blue-vivid-sky-10: #4cc9f0;

  /* Dark mode colors */
  --dark-background: #1e1e1e;
  --dark-foreground: #fff;
  --dark-box-background: #232323; /* with a semi-transparent overlay */
  --dark-box-content: #34495e;
  --dark-box-close-button: #fff; /* With some glow */
  --dark-secondary-accent: #e74c3c;

  --input-width: 100%;

  /* Flash Messages */
  --flash-success-background: #28a745;
  --flash-error-background: #dc3545;
  --flash-info-background: #17a2b8;
  --flash-warning-background: #ffc107;

  --flash-success-border: #218838;
  --flash-error-border: #c82333;
  --flash-info-border: #138496;
  --flash-warning-border: #b69500;
}

body {
  background-image: url("../images/background/white-layered-waves.svg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container form.wrapper {
  width: 100%;
  max-width: 370px;
  height: auto;
  margin: 0 auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.container .wrapper .title {
  position: absolute;
  width: max-content;
  color: rgba(0, 0, 0, 0.65);
  top: -95px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
}

.container .wrapper img.form-image {
  width: 80px;
  margin-block: 0.5rem 2.5rem;
}

.container .wrapper .link-center {
  color: white;
  padding: 0.75rem 1.25rem;

  border-radius: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  transition: 50ms ease-in-out all;
  outline: none;
}

.container .wrapper .link-center:hover,
.container .wrapper .link-center:focus {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px 0.1rem rgba(0, 0, 0, 0.2);
}

.container .wrapper .input-group {
  width: var(--input-width);
  position: relative;
  margin-bottom: 1.25rem;
  display: grid;
  place-items: center;
}

.container .wrapper .input-group i,
.container .wrapper .input-group svg {
  fill: rgba(0, 0, 0, 0.65) !important;
  position: absolute;
  top: 48%;
  left: 0.85rem;
  transform: translateY(-50%);
}

.container .wrapper .input-group svg {
  width: 24px;
  height: 24px;
}

.container .wrapper input,
.container .wrapper .submit-btn {
  width: 100%;
  padding: 0.8rem 3rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 0.25rem;
  color: var(--dark-box-background);
  transition: 300ms ease-in-out;
}

.container .wrapper input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.container .wrapper input:focus {
  border-color: var(--blue-vivid-sky-10);
}

.container .wrapper .submit-btn {
  width: var(--input-width);
  color: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(var(--blue-vivid-sky-10-rgb), 0.5);

  outline: none;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 350ms ease-in-out all;
  /* transition: background-image 0.35s linear; */
}

.container .wrapper .submit-btn:hover,
.container .wrapper .submit-btn:focus {
  border: 1px solid var(--);
}

/* <============= .goback-btn =============> */
.container .goback-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.container .goback-btn button {
  color: white;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  transition: 50ms ease-in-out all;
  outline: none;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;

  cursor: pointer;
  transition: 250ms ease-in-out;
}
.container .goback-btn button svg {
  size: 1.5rem;
}
.flash-message {
  text-overflow: ellipsis;
  overflow: hidden !important;
  font-weight: 600;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  background-color: #ffe6e6;
  padding: 0.25rem;
  padding-inline: 0.5rem;
  width: 100%;
  color: #ff0000;
  border: 1px solid red;
  text-align: center;
  border-radius: 0.25rem;
  width: 0;
}

.flash-message:empty {
  display: none;
  padding: 0;
}

.flash-message:not(:empty) {
  display: block;
}

.flash-message.error {
  background-color: #fff;
  color: var(--flash-error-border);
  padding: 0.5rem;
  border: 1px solid var(--flash-error-border);
  border-radius: 0.25rem;

  text-align: center;
  margin-top: 1rem;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
}
