@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
}


table .table-min-w-md {
    min-width: 8rem;
}

table .table-min-w-lg {
    min-width: 16rem;
}

table .table-min-w-sm  {
    min-width: 4rem;
}

table .table-min-w-xl {
    min-width: 32rem;
}