.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

.content-box {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    max-width: 1620px;
    width: 100%;
    background-color: #fff;
}

.content-box .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-box .title .title-text {
    font-weight: 500;
    font-size: 2rem;
}

.content-box .title .title-date .title-date-text {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
}

.content-box .divider {
    width: 100%;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

