.date-range-input {
    padding: 0.25rem 0.5rem;
    outline: none;
}


@media print {
    .noprint {
        display: none !important;
    }

    .print {
        display: block !important;
    }

    body {
        padding: 0 !important;
    }
}